# SPDX-License-Identifier: GPL-2.0-only
config ICST
	bool "Clock driver for ARM Reference designs ICST" if COMPILE_TEST
	default y if (ARCH_INTEGRATOR || ARCH_REALVIEW || ARCH_VERSATILE)
	select REGMAP_MMIO
	---help---
	  Supports clocking on ARM Reference designs:
	  - Integrator/AP and Integrator/CP
	  - RealView PB1176, EB, PB11MP and PBX

config CLK_SP810
	bool "Clock driver for ARM SP810 System Controller"
	depends on ARCH_REALVIEW || ARCH_VEXPRESS
	default y if (ARCH_VEXPRESS && ARM)
	---help---
	  Supports clock muxing (REFCLK/TIMCLK to TIMERCLKEN0-3) capabilities
	  of the ARM SP810 System Controller cell.

config CLK_VEXPRESS_OSC
	bool "Clock driver for Versatile Express OSC clock generators" if COMPILE_TEST
	depends on VEXPRESS_CONFIG
	default y if ARCH_VEXPRESS
	---help---
	  Simple regmap-based driver driving clock generators on Versatile
	  Express platforms hidden behind its configuration infrastructure,
	  commonly known as OSCs.
