config SND_SOC_INTEL_SST_TOPLEVEL
	bool "Intel ASoC SST drivers"
	default y
	depends on X86 || COMPILE_TEST
	help
          Intel ASoC SST Platform Drivers. If you have a Intel machine that
          has audio controller with a DSP and I2S or DMIC port, then
          enable this option by saying Y

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Intel SST drivers.

if SND_SOC_INTEL_SST_TOPLEVEL

config SND_SST_IPC
	tristate
	help
	  This option controls the IPC core for HiFi2 platforms

config SND_SST_IPC_PCI
	tristate
	select SND_SST_IPC
	help
	  This option controls the PCI-based IPC for HiFi2 platforms
	  (Medfield, Merrifield).

config SND_SST_IPC_ACPI
	tristate
	select SND_SST_IPC
	help
	 This option controls the ACPI-based IPC for HiFi2 platforms
	 (Baytrail, Cherrytrail)

config SND_SOC_INTEL_SST_ACPI
	tristate
	help
	  This option controls ACPI-based probing on Haswell/Broadwell/
	  Baytrail legacy and will be set when these platforms are enabled

config SND_SOC_INTEL_SST
	tristate

config SND_SOC_INTEL_SST_FIRMWARE
	tristate
	select DW_DMAC_CORE
	help
	  This option controls firmware download on Haswell/Broadwell/
	  Baytrail legacy and will be set when these platforms are enabled

config SND_SOC_INTEL_HASWELL
	tristate "Intel ASoC SST driver for Haswell/Broadwell"
	depends on SND_DMA_SGBUF && ACPI
	depends on DMADEVICES
	select SND_SOC_INTEL_SST
	select SND_SOC_INTEL_SST_ACPI
	select SND_SOC_INTEL_SST_FIRMWARE
	select SND_SOC_INTEL_COMMON

config SND_SOC_INTEL_BAYTRAIL
	tristate "Intel ASoC SST driver for Baytrail (legacy)"
	depends on DMADEVICES && ACPI
	select SND_SOC_INTEL_SST
	select SND_SOC_INTEL_SST_ACPI
	select SND_SOC_INTEL_SST_FIRMWARE
	select SND_SOC_INTEL_COMMON

config SND_SST_ATOM_HIFI2_PLATFORM_PCI
	tristate "Intel ASoC SST driver for PCI HiFi2 platforms (Medfield, Merrifield)"
	depends on X86 && PCI
	select SND_SST_IPC_PCI
	select SND_SOC_COMPRESS
	select SND_SOC_INTEL_COMMON

config SND_SST_ATOM_HIFI2_PLATFORM
	tristate "Intel ASoC SST driver for ACPI HiFi2 platforms (Baytrail, Cherrytrail)"
	depends on X86 && ACPI
	select SND_SST_IPC_ACPI
	select IOSF_MBI
	select SND_SOC_COMPRESS
	select SND_SOC_INTEL_COMMON

config SND_SOC_INTEL_SKYLAKE
	tristate "Intel ASoC SST driver for SKL/BXT/KBL/GLK/CNL"
	depends on PCI && ACPI
	select SND_HDA_EXT_CORE
	select SND_HDA_DSP_LOADER
	select SND_SOC_TOPOLOGY
	select SND_SOC_INTEL_SST
	select SND_SOC_INTEL_COMMON

endif ## SND_SOC_INTEL_SST_TOPLEVEL

# ASoC codec drivers
source "sound/soc/intel/boards/Kconfig"

# configs common to SST and SOF to compile sound/soc/intel/common
# directory and use matching tables

config SND_SOC_INTEL_COMMON
	tristate
	select SND_SOC_ACPI_INTEL_MATCH if ACPI

config SND_SOC_ACPI_INTEL_MATCH
	tristate
	select SND_SOC_ACPI if ACPI
