config DRM_ZTE
	tristate "DRM Support for ZTE SoCs"
	depends on DRM
	depends on ARCH_ZX || COMPILE_TEST
	select DRM_KMS_CMA_HELPER
	select DRM_KMS_FB_HELPER
	select DRM_KMS_HELPER
	help
	  Choose this option to enable DRM on ZTE ZX SoCs.
